/* FORMULARIO DA SCAT LUIZA */
.bodyformulario {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(79, 179, 204);
}

.titulorestrito{
    color: blue;
    font-size: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prestrito{
    color: rgb(75, 15, 131);
    font-size: 30px;
    background-color: rgb(255, 80, 188);
    display: flex;
    justify-content: center;
    align-items: center;

}
.bodyrestrito{
    background-color: rgb(225, 194, 255);
    display:list-item;
}

:root {
  --nav-color: #4a235a;  /* Cor padrão dos links do menu */
  --nav-hover-color: #f8d36e; /* Cor dourada ao passar o mouse */
  --nav-mobile-background-color: #fffafc; /* Fundo do menu no mobile */
  --nav-dropdown-background-color: #ffffff; /* Fundo dos submenus */
  --nav-dropdown-color: #4a235a; /* Cor dos links do submenu */
  --nav-dropdown-hover-color: #9b59b6; /* Roxo ao passar o mouse nos sublinks */
}
